<Project>
    <PropertyGroup>
        <InstallDir>C:\Program Files (x86)\Steam\steamapps\common\Railroader</InstallDir>
        <ReferencePath>
            $(InstallDir)\Railroader_Data\Managed\;
            $(InstallDir)\Railroader_Data\Managed\UnityModManager\;
         </ReferencePath>
        <AssemblySearchPaths>$(AssemblySearchPaths);$(ReferencePath);</AssemblySearchPaths>
		<SignToolPath>C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool\</SignToolPath>
		<Cert-Thumb>2ce2b8a98a59ffd407ada2e94f233bf24a0e68b9</Cert-Thumb>
    </PropertyGroup>
</Project>